<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<!--数据库连接信息-->
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://1.116.57.190:3306/wan_neng_qiang?useSSL=false"/>
				<property name="username" value="root"/>
				<property name="password" value="Wn9323252766"/>
			</dataSource>
		</environment>
	</environments>
	<!--加载sql映射文件-->
	<mappers>
		<mapper resource="mappers/LikeCommentMapper.xml"/>
	</mappers>
</configuration>