<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyh.community.dao.IFavoriteDao">

    <resultMap type="com.lyh.community.entity.Favorite" id="FavoriteRM">
    </resultMap>

    <select id="selectCountByUidTid" resultType="int" parameterType="com.lyh.community.entity.Favorite">
        select COUNT(1) from favorite where uid=#{uid} and tid=#{tid}
    </select>

    <insert id="insertByUidTid" parameterType="com.lyh.community.entity.Favorite">
        INSERT INTO favorite (uid, tid) VALUES (#{uid}, #{tid})
    </insert>

    <select id="selectAllByUid" resultType="com.lyh.community.entity.Topic" parameterType="com.lyh.community.entity.Favorite">
        select module.mname,topic.tid,topic.mid,topic.uid,topic.tname,topic.intro,topic.clike from favorite,topic,module where favorite.uid=#{uid} and favorite.tid = topic.tid and topic.mid = module.mid
    </select>

</mapper>