<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyh.community.dao.ILikeTopicDao">

    <resultMap type="com.lyh.community.entity.LikeTopic" id="LikeTopicRM">
    </resultMap>

    <select id="selectCountByUidTid" resultType="int" parameterType="com.lyh.community.entity.LikeTopic">
        select COUNT(1) from like_topic where uid=#{uid} and tid=#{tid}
    </select>

    <insert id="insertByUidTid" parameterType="com.lyh.community.entity.LikeTopic">
        INSERT INTO like_topic (uid, tid) VALUES (#{uid}, #{tid})
    </insert>

</mapper>