<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyh.community.dao.IModuleDao">

    <resultMap type="com.lyh.community.entity.Module" id="ModuleRM">
    </resultMap>

    <select id="selectCountByMname" resultType="int" parameterType="com.lyh.community.entity.Module">
        select COUNT(1) from module where mname=#{mname}
    </select>

    <insert id="insertByMnameIntroUid" parameterType="com.lyh.community.entity.Module">
        INSERT INTO module (mname, intro, uid) VALUES (#{mname}, #{intro}, #{uid})
    </insert>

    <delete id="deleteByMname" parameterType="com.lyh.community.entity.Module">
    	delete from module where mname = #{mname}
  	</delete>

    <select id="selectUidByMname" resultType="int" parameterType="com.lyh.community.entity.Module">
        select uid from module where mname=#{mname}
    </select>

    <select id="selectMidByMname" resultType="int" parameterType="com.lyh.community.entity.Module">
        select mid from module where mname=#{mname}
    </select>

    <select id="selectUidByMid" resultType="int" parameterType="com.lyh.community.entity.Module">
        select uid from module where mid=#{mid}
    </select>


<!-- 已确定可以用的部分 -->
    <select id="selectAllByUid" resultType="com.lyh.community.entity.Module" parameterType="com.lyh.community.entity.Module">
        select * from module where uid=#{uid}
    </select>

    <select id="selectAll" resultType="com.lyh.community.entity.Module" parameterType="com.lyh.community.entity.Module">
        select * from module
    </select>

</mapper>